# MacOS
.DS_Store

# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Lock file
.terraform.tfstate.lock.info

# .tfvars files
*.tfvars

# variables.tf
variables.tf

# Ansible retry
*.retry

# Tableau installers
*.rpm
*.deb
